body{
    opacity: 96%;
    /*background-image: url("Pictures/Background/bg.jpg");*/
    background-size: cover;
}
#main{
    margin-top: 1%;
}
.ava{
    max-width: 300px;
    max-height: 300px;
    border-radius: 20px;
}
.game {
    margin-top: 3%;
    /*display: flex;*/
    padding: 20px;
    /*flex-direction: column;*/
}
#topbarElement{
    width: 50%;
}
#favicon{
    background-color: transparent;
    border: 0cap;
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 50%;
    margin-right: 50%;
    /*-webkit-filter: invert(100%);*/
    /*background-color: rgb(18, 18, 18);*/
}
.games{
    flex-flow: column;

}
.element{
    border: solid;
    border-width: 1px;
    /*background-color: rgb(18, 18, 18);*/
    background-color: #1c1c1c;
    /*margin-bottom: 8px;
    /*border-radius: 10px;*/
    padding: 7px;
    text-align: center;
}
/*.button{
    border-radius: 10px;
}*/

.game_name{
    font-weight: bold;
    margin-right: 1rem;
}
.preview_pic{
    max-width: 500px;
    border-radius: 10px;
}

.description{
    margin-left: 12px;
    word-wrap: break-word;
    margin-top: 1%;
}
a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: red;
}
